.resultado-text{
    color:#E4F0D0;
    background-color: #3cb371;
    
}

.text-container-valor{
    color: #558b79;
}

.container-valor{
    background-color:#E4F0D0;

}

.button-style{
    color: #E4F0D0;
    background-color: #4F6367;
}